[submodule "footprints/ceoloide"]
	path = v1/footprints/ceoloide
	url = https://github.com/ceoloide/ergogen-footprints.git
[submodule "footprints/ImStuBTW"]
	path = v1/footprints/ImStuBTW
	url = https://github.com/ImStuBTW/ergogen-v4-footprints.git
